<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalok.dexian.portal.mapper.IdleItemMapper">

    <select id="getItemById" parameterType="java.lang.Long" resultType="com.kalok.dexian.portal.domain.IdleItem">
        select it.* from idle_item it where id = #{itemId}
    </select>

    <select id="getItemIdByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select it.id from idle_item it where user_id = #{userId}
    </select>

    <insert id="insertItem" parameterType="com.kalok.dexian.portal.domain.IdleItem">
        insert into idle_item(user_id,price,description,is_new,item_status,delivery_method,release_time)
        values (#{item.userId},#{item.price},#{item.description},#{item.isNew},#{item.itemStatus},#{item.deliveryMethod},#{item.releaseTime})
    </insert>

    <update id="setStatusByItemId">
        update idle_item set item_status = #{statusCode} where id = #{itemId}
    </update>

    <delete id="deleteItemById" parameterType="java.lang.Long">
        delete from idle_item where id = #{itemId};
    </delete>

    <update id="updateItemById" parameterType="com.kalok.dexian.portal.domain.IdleItem">
        update idle_item set price = #{item.price},description = #{item.description},is_new = #{item.isNew},
        delivery_method = #{item.deliveryMethod},release_time = #{item.releaseTime} where id = #{item.id}
    </update>
</mapper>